section.bonus
	.container
		.bonus-content
			.bonus-content__text
				.title-2 
					h2  Даём дополнительную скидку #[span.sale-badge −10% ] <br> за публикацию о&nbsp;нас Stories в&nbsp;Instagram
				.bonus-content__list
					ul
						li
							span.number 1 
							a(href="#!").text-link Скачиваете изображение
						li
							span.number 2
							.bonus-condition.bonus-condition-2
								p.text Публикуете изображение в Stories с отметкой
								p.label-black @vospitanie.club
						li
							span.number 3
							.bonus-condition.bonus-condition-3 
								p.text Получаете в Direct промокод на доп. скидку −10%
								p.text-discount Суммируется с действующей скидкой #[span.base-discount -40%]
			.bonus-content__img
				img(src="img/bonus/1.png", width="500" alt="img")
				a(href="#!").block-social__icon--inst
section.warning.warning--3
	.container
		.warning-content
			.decore-box
				img(src="img/bonus/quote.png", width="227" alt="img")
			.warning-text
				p.decor-text #[span.red-text Если вы не уверены,] что в состоянии сохранить тайну о взаимоотношениях полов до 16-летия своего ребенка, постарайтесь, чтобы он узнал о них до восьми
			.warning-text--flex
				p.text-2 #[strong Жан-Жак Руссо.] Философ, писатель и мыслитель эпохи Просвещения