.special-wrapper.contact-form__wrapper#contact-form
    .social-icon#social-icon
        img(src="img/emoji/star.png",  width="323" alt="emoji")
    section.contact-form.contact-form-success
        .success-icon
            +thanks
        .contact-form-title
            .title-2.register-title
                h2 Регистрация<br> на бесплатный вебинар
            .title-2.success-title
                h2 Вы добавлены в список участников вебинара
            .event
                .preview-content__data
                    +calendar
                    p
                        span.visible-laptop 10 ноября 2020
                        span.hide-laptop 10.11.2020
                    p 19:30 &mdash; 21:00 мск
            .contact-subtitle
                .subtitle-text
                    p.text-2 И получите в подарок два полезных чек-листа,<br> специально разработанных сексологом и психологом
                .subtitle-text.subtitle-text__success
                    p.text-2 Через пару минут на ваш email придет подтверждение о регистрации и ссылки на два полезных чек-листа
                    p.text-2 Если письма нет, проверьте папку «Спам»
                .subtitle-img
                    img(src="img/checklists/mob.png" width='260').img-mob
                    img(src="img/checklists/4.png" width='315').img-desk
        .contact-form-inner
            .success-message
                .info-text--success
                    p.text-2 Чтобы не пропустить вебинар,<br class='visible-mobile'> подключите мессенджер<br class='.visible-mobile'> куда мы скинем ссылку<br class='visible-mobile'> на трансляцию
                .social-button--block
                    a(href="tg://resolve?domain=sexprosvetschoolBot&start=ml3" target="_blank").social-button
                        span
                            i.fab.fa-telegram-plane
                        span.text-2 Telegram
                    a(href="https://vk.com/app6379730_-194449090#l=3&ml=3&auto=1" target="_blank").social-button.social-button--vk
                        span
                            i.fab.fa-vk
                        span.text-2 ВКонтакте

            form.feedback-form#feedback-form--main
                .form-item
                    label.text-2 Ваше имя
                    .form-input
                        input(type="text" name="name")
                .form-item
                    label.text-2 Эл.почта
                    .form-input
                        input(type="email" name="email" class='required-email')
                        p.text-2.ps-text Отправим подтверждение о регистрации на эту почту
                        p.text-2.error Пожалуйста, перепроверьте введенный адрес эл. почты
                .form-item
                    label.text-2 Телефон
                    .form-input.form-input--short
                        input(type="text" class="phone" name="phone" class='required-phone')
                        p.text-2.ps-text За час до начала вебинара предупредим вас по СМС
                        p.text-2.error С этим номером телефона что-то не так. Перепроверьте, пожалуйста
                .contact-form-footer
                    .form-footer
                        .form-btn
                            button.big-button(type="submit" ) Отправить
                        .agree-text
                            p Нажимая на кнопку вы принимаете<br class='visible-mobile'> #[a.text-link(href="#!") пользовательское соглашение]
                    .disclaimer
                        +lock
                        .disclaimer-text
                            p Не шлем спам по СМС или почтой. Надежно храним персональные данные пользователей<br> и не передаем их третьим лицам






