section.conclusion
    .container.container--p0
        .conclusion-content
            .title-2
                h2 В результате обучения вы
            .bubble-block
                .title-2
                    h2 Узнаете, как отвечать на сложные детские вопросы и не смущаться
            .result-block
                .result-row
                    .result-row__column.result-row__column--790
                        p.text-2 Вы станете психологически готовы к разговору о сексе с ребёнком, перестанете стесняться и транслировать своё волнение на ребёнка
                .result-row.flex-block
                    .result-row__column.result-row__column--790
                        .title-3
                            h3 Поможете справиться с изменениями в теле<br class="visible-laptop"> в период полового созревания
                            p.text-2 Вы научитесь правильно вести себя на каждой стадии подросткового развития, научитесь правильно реагировать на изучение ребёнком своего тела, а также научитесь распознавать признаки хронического стресса и тревожности<br class="visible-laptop"> у своего ребёнка
                    .result-row__column.result-row__column--350.result-row__column--bg
                        +badge('Урок &#8470;12')
                        p.text-3 Когда нужно рассказывать<br class="visible-laptop"> дочери про месячные, а сыну — про первые поллюции
                        p Внутри урока — лайфхак о том, что&nbsp;можно использовать как повод для&nbsp;начала такого разговора
                .result-row
                    .result-row__column.result-row__column--790
                        .title-3
                            h3 Научитесь лучше понимать своих детей<br class="visible-laptop"> и построите с ними доверительные отношения
                            p.text-2 Дети, доверяющие своим родителям, не скрывают ухудшение состояния своего здоровья, переживания, страхи. Ваш ребёнок будет понимать, что всегда может обратиться к вам за помощью
                .result-row.flex-block
                    .result-row__column.result-row__column--790.result-row__column--border
                        .title-3
                            h3 Поможете детям выстроить личные границы
                            p.text-2 Это самая действенная защита от насилия. Ребёнок будет чувствовать свои границы, уметь распознавать опасность и вовремя сигнализировать родителям об угрозе
                    .result-row__column.result-row__column--350
                        .img-block
                            img(src='img/emoji/woman.png', width="77" alt="pic")
                        p.text-3 Подробнее о личных границах рассказываем в 1 и 3 модулях курса
                        p А также в бонусном видеоуроке<br class="visible-laptop"> «Как воспитать здоровые личные границы у ребенка»
                .result-row
                    .result-row__column.result-row__column--790
                        .title-3
                            h3 Узнаете, как транслировать детям<br class="visible-laptop"> семейные ценности и воспитать ответственность
                            p.text-2 Узнаете, какие ценности нужно воспитывать в себе и передавать ребёнку, как подать личный пример, чтобы заложить в ребёнке правильные семейные ценности, а также заложите в ребёнка основы ответственности за своё сексуальное поведение
            .double-bubble
                .bubble-block.bubble-grey
                    p Эксперты курса не будут навязывать вам свои семейные<br class="visible-laptop"> ценности, но помогут транслировать детям — ваши
                .bubble-red
                    p Не верьте нам на слово, дальше будут отзывы
            .emoji-block
                img(src='img/emoji/10.png', width="300" alt="pic")



