section.conclusion
    .container.container--p0
        .conclusion-content
            .title-2
                h2 В результате обучения вы
            .bubble-block
                .title-2
                    h2 Узнаете, как отвечать на сложные детские вопросы и не смущаться
            p Вы станете психологически готовы к разговору о сексе с ребёнком, перестанете стесняться и транслировать своё волнение на ребёнка
            .lesson-block
                .title-3
                    h3 Поможете справиться с изменениями в теле в период полового созревания
                .lesson-row
                    .lesson-row__column.info-row__column--790
                        p Вы научитесь правильно вести себя на каждой стадии подросткового развития, научитесь правильно реагировать на изучение ребёнком своего тела, а также научитесь распознавать признаки хронического стресса и тревожности у своего ребёнка
                .lesson-row__column.info-row__column--350
                    +badge('Урок &#8470;12')
                    p.text-3 Когда нужно рассказывать дочери про месячные, а сыну — про первые поллюции
                    p Внутри урока — лайфхак о том, что можно использовать как повод для начала такого разговора
