section.experts
	.container
		.experts-content
			.title-2
				h2 Эксперты курса
			.experts-wrapper
				.bubble-block
					p Мы просто не могли не пригласить поучаствовать в таком важном проекте российского эксперта с мировым именем. Лекции Александра Моисеевича собирают полные залы в мировых ВУЗах и мы рады, что профессор согласился поделиться бесконечным опытом и с нашими учениками
				.expert-block.expert-block--reverce.expert-block--end
					.block-social
						a(href="#!").block-social__icon

					.expert-col--400
						.expert-info
							a(href="#!").expert-name Александр Полеев
							.expert-range.text-2 Врач-психотерапевт, профессор, кандидат медицинских наук
							ul.text-3
								li Всемирно известный специалист в области семейной психологии, 
								li Лектор мировых ВУЗов, 
								li Постоянный гость ТВ- и радио-программ,
								li Автор книг
							.expert-role
								p Спикер модуля «Первый секс» #[span М2]
					.expert-col--840
						img(src="img/experts/1.jpg", width="840" alt="эксперт")
				//-expert 2
				.expert-block
					.expert-col--840
						img(src="img/experts/2.jpg", width="840" alt="эксперт")
					.expert-col--400
						.expert-info
							a(href="#!").expert-name Надежда Соловьева
							.expert-range.text-2 Врач-психиатр, психотерапевт, сексолог высшей квалификационной категории
							ul.text-3
								li Создала Научный центр персонализированной психиатрии, 
								li Входит в Общественный совет при Минздраве РФ,
								li Руководит Московским отделением Российской психотерапевтической ассоциации,
								li Получила диплом «Лучший врач» (2010)
							.expert-role
								p Спикер модулей «Сексуальная безопасность» М3 и «Сексуальное образование» #[span М4]
				//-expert 3
				.expert-block
					.expert-col--620.expert-block--border
						.expert-img
							img(src="img/experts/3.jpg", width="560" alt="эксперт")
						.expert-info
							a(href="#!").expert-name Анна Комлова
							.expert-range.text-2 Практикующий психолог, терапевт, женский тренер
							ul.text-3
								li Провела больше 1000 личных консультаций, включая семейные; 
								li Член сообщества процессуальных терапевтов России;
								li Создатель и ведущая авторских программ
							.expert-role
								p Спикер модулей «Сексуальная безопасность» #[span М3] и «Секс и ответственность»  #[span М4]
					.expert-col--620.expert-block--bg
						.badge.badge--blue Памятка №37
						p.text-40.mb-30 Если родители и учителя нарушают границы ребёнка, если это становится нормой, то ребёнок перестаёт чувствовать опасность.<br> Такой ребёнок может пропустить тревожные сигналы и стать жертвой насилия
						.expert-role
							p Из конспекта урока №4 #[span М3]<br> «Обучение навыкам сексуальной безопасности»
				//-expert 4
				.expert-block.expert-block--reverce
					.expert-col--620.expert-block--bg.expert-block--mint
						.badge.badge--green Памятка №37
						p.text-40.mb-120 Важно рассказать ребёнку про культуру взаимоотношения полов: доброту, взаимоуважение, деликатность, адекватную полу модель поведения, роли мужчины и женщины в обществе
						.expert-role
							p Из конспекта урока №4 #[span М3]<br> «Обучение навыкам сексуальной безопасности»
					.expert-col--620.expert-block--border
						.expert-img
							img(src="img/experts/4.jpg", width="560" alt="эксперт")
						.expert-info
							a(href="#!").expert-name Оксана Истомина
							.expert-range.text-2 Практикующий психолог, терапевт, женский тренер
							ul.text-3
								li Эксперт в области экзистенциальной психотерапии, гештальт и арт-терапии;
								li Практический опыт — более 10 лет;
								li Лектор НИУ ВШЭ и автор курсов
							.expert-role
								p Спикер четырех модулей и бонусного урока <br> «Как воспитать здоровые личные границу у ребенка»
							