section.experts
	.container
		.experts-content
			.title-2
				h2 Эксперты курса
			.experts-wrapper
				.bubble-block
					p Мы просто не могли не&nbsp;пригласить поучаствовать в&nbsp;таком важном проекте российского эксперта с&nbsp;мировым&nbsp;именем. Лекции Александра Моисеевича собирают полные залы в&nbsp;мировых ВУЗах и мы рады, что&nbsp;профессор согласился поделиться бесконечным опытом и с нашими учениками
				.expert-block.expert-block--reverce.expert-block--end
					.expert-col--400
						.expert-info.expert-info--1
							p.expert-name Александр Полеев
							.expert-range.text-2 Врач-психотерапевт, профессор, кандидат медицинских наук
							ul.text-3
								li Всемирно известный специалист в&nbsp;области семейной психологии, 
								li Лектор мировых ВУЗов, 
								li Постоянный гость ТВ-<br class="visible-mobile"> и радио-программ,
								li Автор книг
							.expert-role
								p Спикер модуля «Первый секс» #[span М2]
					.expert-col--840
						img(src="img/experts/1.jpg", width="840" alt="эксперт")
						.block-social.block-social--1
							a(href="https://www.facebook.com/aleksandr.poleev.1" target="_blank").block-social__icon.block-social__icon--fb
								svg.svg-inline--fa.fa-facebook-f.fa-w-10(width="38" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 512")
									path(fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z")

				//-expert 2
				.expert-block
					.expert-col--840
						img(src="img/experts/2.jpg", width="840" alt="эксперт")
						.block-social.block-social--2
							a(href="https://vk.com/id227566653" target="_blank").block-social__icon.block-social__icon--vk
								svg.svg-inline--fa.fa-vk.fa-w-18(width="73" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="vk" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 576 512")
									path(fill="currentColor" d="M545 117.7c3.7-12.5 0-21.7-17.8-21.7h-58.9c-15 0-21.9 7.9-25.6 16.7 0 0-30 73.1-72.4 120.5-13.7 13.7-20 18.1-27.5 18.1-3.7 0-9.4-4.4-9.4-16.9V117.7c0-15-4.2-21.7-16.6-21.7h-92.6c-9.4 0-15 7-15 13.5 0 14.2 21.2 17.5 23.4 57.5v86.8c0 19-3.4 22.5-10.9 22.5-20 0-68.6-73.4-97.4-157.4-5.8-16.3-11.5-22.9-26.6-22.9H38.8c-16.8 0-20.2 7.9-20.2 16.7 0 15.6 20 93.1 93.1 195.5C160.4 378.1 229 416 291.4 416c37.5 0 42.1-8.4 42.1-22.9 0-66.8-3.4-73.1 15.4-73.1 8.7 0 23.7 4.4 58.7 38.1 40 40 46.6 57.9 69 57.9h58.9c16.8 0 25.3-8.4 20.4-25-11.2-34.9-86.9-106.7-90.3-111.5-8.7-11.2-6.2-16.2 0-26.2.1-.1 72-101.3 79.4-135.6z")

							
					.expert-col--400
						.expert-info.expert-info--2
							p.expert-name Надежда Соловьева
							.expert-range.text-2 Врач-психиатр, психотерапевт, сексолог высшей квалификационной категории
							ul.text-3
								li Создала Научный центр персонализированной психиатрии, 
								li Входит в Общественный совет при&nbsp;Минздраве РФ,
								li Руководит Московским  отделением Российской психотерапевтической ассоциации,
								li Получила диплом «Лучший врач» (2010)
							.expert-role
								p Спикер модулей <br class="visible-mobile">«Сексуальная безопасность» #[span М3] и&nbsp;«Сексуальное образование» #[span М4]
				//-expert 3
				.expert-block.expert-block--100
					.expert-col--620.expert-block--border
						.block-social.block-social--3
							a(href="https://www.instagram.com/annakomlova/" target="_blank").block-social__icon.block-social__icon--inst
							a(href="https://vk.com/annakomlova" target="_blank").block-social__icon.block-social__icon--vk
								svg.svg-inline--fa.fa-vk.fa-w-18(width="73" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="vk" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 576 512")
									path(fill="currentColor" d="M545 117.7c3.7-12.5 0-21.7-17.8-21.7h-58.9c-15 0-21.9 7.9-25.6 16.7 0 0-30 73.1-72.4 120.5-13.7 13.7-20 18.1-27.5 18.1-3.7 0-9.4-4.4-9.4-16.9V117.7c0-15-4.2-21.7-16.6-21.7h-92.6c-9.4 0-15 7-15 13.5 0 14.2 21.2 17.5 23.4 57.5v86.8c0 19-3.4 22.5-10.9 22.5-20 0-68.6-73.4-97.4-157.4-5.8-16.3-11.5-22.9-26.6-22.9H38.8c-16.8 0-20.2 7.9-20.2 16.7 0 15.6 20 93.1 93.1 195.5C160.4 378.1 229 416 291.4 416c37.5 0 42.1-8.4 42.1-22.9 0-66.8-3.4-73.1 15.4-73.1 8.7 0 23.7 4.4 58.7 38.1 40 40 46.6 57.9 69 57.9h58.9c16.8 0 25.3-8.4 20.4-25-11.2-34.9-86.9-106.7-90.3-111.5-8.7-11.2-6.2-16.2 0-26.2.1-.1 72-101.3 79.4-135.6z")
															
						.expert-img
							img(src="img/experts/3.jpg", width="560" alt="эксперт")
						.expert-info
							p.expert-name Анна Комлова
							.expert-range.text-2 Практикующий психолог, терапевт, женский тренер
							ul.text-3
								li Провела больше 1000 личных консультаций, включая семейные; 
								li Член сообщества процессуальных терапевтов России;
								li Создатель и ведущая авторских программ
							.expert-role
								p Спикер модулей <br class="visible-mobile"> «Сексуальная безопасность» #[span М3] <br> и «Секс и ответственность»  #[span М4]
					.expert-col--620.expert-block--bg.expert-block--blue
						.badge.badge--small.badge--blue Памятка №37
						p.text-40.mb-30 Если родители и учителя нарушают границы ребёнка, если это стано&shy;вится нормой, то ребёнок перестаёт чувствовать опасность.<br class="visible-desk"> Такой ребёнок может пропустить тревожные сигналы и&nbsp;стать&nbsp;жертвой&nbsp;насилия
						.expert-role
							p Из конспекта урока №4 #[span М3] <br> «Обучение навыкам сексуальной безопасности»
				//-expert 4
				.expert-block.expert-block--reverce.expert-block--97
					.expert-col--620.expert-block--bg.expert-block--mint
						.badge.badge--small.badge--green Памятка №37
						p.text-40.mb-120 Важно рассказать  <br class="visible-mobile">  ребёнку про культуру взаимоотношения полов: доброту, взаимоуважение, деликатность, адекватную полу модель поведения, роли мужчины и&nbsp;женщины в&nbsp;обществе
						.expert-role
							p Из конспекта урока №10 #[span M1] <br> «Почему нужно говорить про уважение половых различий»
							
					.expert-col--620.expert-block--border
						.block-social.block-social--4
							a(href="https://vk.com/oksonya" target="_blank").block-social__icon.block-social__icon--vk
								svg.svg-inline--fa.fa-vk.fa-w-18(width="73" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="vk" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 576 512")
									path(fill="currentColor" d="M545 117.7c3.7-12.5 0-21.7-17.8-21.7h-58.9c-15 0-21.9 7.9-25.6 16.7 0 0-30 73.1-72.4 120.5-13.7 13.7-20 18.1-27.5 18.1-3.7 0-9.4-4.4-9.4-16.9V117.7c0-15-4.2-21.7-16.6-21.7h-92.6c-9.4 0-15 7-15 13.5 0 14.2 21.2 17.5 23.4 57.5v86.8c0 19-3.4 22.5-10.9 22.5-20 0-68.6-73.4-97.4-157.4-5.8-16.3-11.5-22.9-26.6-22.9H38.8c-16.8 0-20.2 7.9-20.2 16.7 0 15.6 20 93.1 93.1 195.5C160.4 378.1 229 416 291.4 416c37.5 0 42.1-8.4 42.1-22.9 0-66.8-3.4-73.1 15.4-73.1 8.7 0 23.7 4.4 58.7 38.1 40 40 46.6 57.9 69 57.9h58.9c16.8 0 25.3-8.4 20.4-25-11.2-34.9-86.9-106.7-90.3-111.5-8.7-11.2-6.2-16.2 0-26.2.1-.1 72-101.3 79.4-135.6z")
							a(href="https://www.instagram.com/oksana_istomina_/" target="_blank").block-social__icon.block-social__icon--inst
						.expert-img
							img(src="img/experts/4.jpg", width="560" alt="эксперт")
						.expert-info
							p.expert-name Оксана Истомина
							.expert-range.text-2 Практикующий психолог, терапевт, женский тренер
							ul.text-3
								li Эксперт в области экзистенциальной психотерапии, гештальт и арт-терапии;
								li Практический опыт —<br class="visible-mobile"> более 10 лет;
								li Лектор НИУ ВШЭ и автор курсов
							.expert-role
								p Спикер четырех модулей и бонусного урока <br class="visible-desk"> «Как воспитать здоровые личные границу у ребенка»
				//-expert 5-6
				.expert-block.expert-block-200
					.expert-col--620.pt-0.expert-block--5
						.block-social.block-social--5
							a(href="https://instagram.com/yxanova_psiholog?igshid=15d8nz05fol9h" target="_blank").block-social__icon.block-social__icon--inst
						.expert-wrapper
							.bubble-block
								p Куратор следит за вашим прогрессом обучения, проверяет домашние задания и&nbsp;отвечает&nbsp;на&nbsp;вопросы
							.expert-img.expert-img--round
								
								img(src="img/experts/5.png", width="300" alt="эксперт")
						.expert-info
							.expert-name-inner
								.light-badge куратор
								a(href="#!").expert-name Юлия Уханова
							.expert-range.text-2 Семейный психолог, гештальт терапевт
							ul.text-3
								li Специалист в области семейных отношений и отношений с детьми, более 10 лет практики в психологии;
								li Автор 38 публикаций на b17.ru;
								li Мама двух детей
							

					.expert-col--620.pt-0.pt-190
						.expert-img.expert-img--round
							img(src="img/experts/6.png", width="300" alt="эксперт")
						.expert-info.expert-info--before
							.expert-name-inner
								.light-badge куратор
								p.expert-name Инна Сорока
							.expert-range.text-2 Клинический психолог, психоаналитик, сексолог
							ul.text-3
								li Учредитель Международной академии сексологии и&nbsp;член&nbsp;Ассоциации сексологов,
								li Эксперт портала Леди Mail.ru,
								li Автор курсов
						.block-social.block-social--5.b-0
							a(href="https://www.instagram.com/detyam.o.vzroslom/?igshid=z71vywy3ajgj" target="_blank").block-social__icon.block-social__icon--inst
							