section.experts
	.container
		.experts-content
			.title-2
                h2 Эксперты курса
			.experts-wrapper
				.expert-block
					.expert-col--400
					.expert-col--850
						img(src="", alt="")