footer.footer
	.container
		.footer-nav
			.footer-nav__col
				.footer-logo
					+footer-logo
				a(href="mailto:hello@znau.pro").text-link.text-link--blue hello@znau.pro
			.rules-doc
				a(href="doc/terms.pdf" target="_blank").text-link Пользовательское соглашение
				a(href="doc/privacy.pdf" target="_blank").text-link Политика конфиденциальности
				a(href="doc/about.pdf" target="_blank").text-link Реквизиты
		.footer-bottom
			.footer-left
				p На страницы приведены статистические данные исследования, <br class="d-none d-md-block"> проведенного фармацевтической компанией «Гедеон Рихтер» и ВЦИОМ в 2019 году

			.footer-right
				p &copy; 2019—2020 Школа Жизни
				.badge.badge-round 18+

