#overlay
.mobile-menu#mobile-menu
	.mobile-menu__list
		ul
			li
				a(href="#!") О проекте
				p.text-3  Об уникальности «Школы Жизни» и&nbsp;кому она будет полезной
			li
				a(href="#!") «Про это»
				p.text-3   О том, как модерация Фейсбука и&nbsp;Гугла&nbsp;не&nbsp;повзоляет взрослым людям говорить на взрослые темы
			li
				a(href="#!") Курсы
				p.text-3   О курсе «Половое воспитание» и&nbsp;других курсах, которые запустим в&nbsp;ближайшее&nbsp;время

		.mobile-menu-btn
			a(href="#!").link-button Другие вебинары
			.mobile-menu-btn__img
				img(src="img/emoji/hand.png", width="110" alt="emoji")
header.header
	.header-wrapper
		+logo
		.header-menu
			nav
				a(href="#!") О проекте
				a(href="#!") «Про это»
				a(href="#!") Курсы
				a(href="#!").link-button Другие вебинары
		.menu-toggle
			span
	