section.header-video
	.container
		.header-video__content
			.header-video__wrapper.video-wrapper
				.bubble-block.tail-right
					p Садись дочь, садись сын, пришло время <br> тебе узнать о чем-то важном...
				.btn-play
					img(src="img/icons/play.png", width="45" alt="play")
				video(src="video/video.mp4" type="video/mp4"  poster="img/video-poster/1.jpg"  alt='video')
					source(src="video/video.mp4" type="video/mp4")
					source(src="video.webm" type="video/webm")
					source(src="video.ogv" type="video/ogg")
			.video-clip__info
				p 1:36
				p Тизер курса «Взрослый разговор о половом воспитании»