section.header-video#header-video
	.container
		.header-video__content
			.header-video__wrapper.video-wrapper
				.bubble-block.tail-right
					p Садись дочь, садись<br class="visible-mobile"> сын, пришло время <br class="visible-desk"> тебе<br class="visible-mobile"> узнать о чем-то важном...
				button.btn-play.btn-play2
					img.lazy(data-src="img/icons/play.png", width="45" alt="play")
				video.lazy(data-src="video/video.mp4" type="video/mp4"  poster="img/video-poster/1.jpg"  alt='video')
					source(src="video/video.mp4" type="video/mp4")
					source(src="video.webm" type="video/webm")
					source(src="video.ogv" type="video/ogg")
			.video-clip__info
				p 1:36
				p Тизер курса #[span.span-desk «Взрослый разговор о половом воспитании»]