section.header-banner
    .container
        .header-bubble.bubble-dark
            .header-title__top
                .badge-block
                    +badge('Дистанционный курс')(class="badge--blue visible-desk")
                    +badge('Онлайн курс')(class="badge--blue visible-mobile")
                    .round-badge
                        p 18+
                .event-date
                    p 5 января #[span.span-desk 2020] - 4 февраля 2021
            .header-title__text
                .title-1
                    h1 Взрослый разговор о&nbsp;половом воспитании
                .header-title__subtitle.text-1 Онлайн-курс для родителей и&nbsp;педагогов <br class="visible-desk"> от четырех профессиональных психологов и&nbsp;врачей
                
                
        .header-banner__footer
            .header-banner__emoji
                img(src="img/emoji/4.png",  width="300" alt="emoji")
            a(href="doc/program.pdf" target="_blank").button.big-button.visible-desk Посмотреть программу курса
            a(href="doc/program.pdf" target="_blank").button.big-button.visible-mobile Программа курса
            a(href="#header-video").light-link
                span
                    +playIcon
                span  Видео-презентация
