mixin google
    <svg width="140" height="70" viewBox="0 0 140 70" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="0.5" y="0.5" width="139" height="69" rx="4.5" fill="white" stroke="#F0F0F0"/>
    <path d="M67.145 35.6116V45.5772H63.9324V20.9665H72.4528C73.4699 20.9456 74.4811 21.1231 75.428 21.4888C76.375 21.8545 77.239 22.4011 77.9702 23.0971C78.7088 23.7508 79.2965 24.5526 79.6941 25.4484C80.0916 26.3443 80.2897 27.3135 80.2749 28.291C80.2961 29.2737 80.1011 30.2492 79.7032 31.1508C79.3054 32.0524 78.7143 32.8587 77.9702 33.5144C76.4803 34.9125 74.6412 35.6109 72.4528 35.6096H67.145V35.6116ZM67.145 23.9964V32.5875H72.5327C73.1233 32.6047 73.7111 32.5005 74.2585 32.2814C74.8058 32.0622 75.3007 31.7331 75.7114 31.315C76.1199 30.9242 76.4447 30.4566 76.6665 29.9401C76.8882 29.4235 77.0025 28.8684 77.0025 28.3077C77.0025 27.7469 76.8882 27.1919 76.6665 26.6753C76.4447 26.1588 76.1199 25.6912 75.7114 25.3003C75.3058 24.8734 74.8127 24.5362 74.2647 24.3111C73.7167 24.086 73.1263 23.9781 72.5327 23.9945H67.145V23.9964Z" fill="#5F6368"/>
    <path d="M87.6778 28.1875C90.0524 28.1875 91.9268 28.812 93.3009 30.061C94.6751 31.3099 95.3616 33.0224 95.3602 35.1983V45.5769H92.2873V43.24H92.1476C90.8173 45.1645 89.048 46.1268 86.8398 46.1268C84.9548 46.1268 83.3777 45.5769 82.1086 44.4772C81.4996 43.9725 81.0126 43.3403 80.6833 42.6269C80.354 41.9135 80.1906 41.1367 80.205 40.3532C80.205 38.6107 80.8741 37.2249 82.2124 36.1959C83.5506 35.1668 85.3372 34.651 87.5721 34.6484C89.4797 34.6484 91.0508 34.9921 92.2853 35.6794V34.9567C92.2889 34.4226 92.1717 33.8944 91.9422 33.4103C91.7127 32.9263 91.3766 32.4986 90.9583 32.1583C90.1088 31.404 89.0016 30.9924 87.8574 31.0055C86.0629 31.0055 84.6428 31.7505 83.5972 33.2403L80.7677 31.4867C82.3241 29.2872 84.6275 28.1875 87.6778 28.1875ZM83.5214 40.422C83.5192 40.8243 83.6148 41.2214 83.8001 41.5801C83.9855 41.9388 84.2552 42.2486 84.5869 42.4839C85.2975 43.034 86.1794 43.3254 87.0832 43.3087C88.4389 43.3065 89.7384 42.7755 90.6969 41.832C91.7611 40.8461 92.2933 39.6895 92.2933 38.3619C91.2916 37.5764 89.8948 37.1837 88.1029 37.1837C86.7979 37.1837 85.7097 37.4933 84.8383 38.1125C83.9584 38.7409 83.5214 39.5049 83.5214 40.422Z" fill="#5F6368"/>
    <path d="M113 28.7363L102.272 52.999H98.956L102.937 44.5095L95.8831 28.7363H99.375L104.473 40.8333H104.543L109.502 28.7363H113Z" fill="#5F6368"/>
    <path d="M54.1626 33.4609C54.1638 32.4974 54.081 31.5355 53.9151 30.5859H40.3662V36.0315H48.1264C47.9676 36.9013 47.6315 37.7304 47.1384 38.4688C46.6452 39.2073 46.0052 39.8398 45.257 40.3283V43.8632H49.8884C52.6002 41.4025 54.1626 37.7636 54.1626 33.4609Z" fill="#4285F4"/>
    <path d="M40.3661 47.2789C44.2432 47.2789 47.5077 46.026 49.8883 43.8659L45.2569 40.331C43.9678 41.1912 42.3076 41.6821 40.3661 41.6821C36.6187 41.6821 33.438 39.1959 32.3006 35.8457H27.5295V39.4885C28.7253 41.8303 30.5589 43.7989 32.8257 45.1746C35.0924 46.5503 37.703 47.2788 40.3661 47.2789Z" fill="#34A853"/>
    <path d="M32.3009 35.848C31.6996 34.0925 31.6996 32.1914 32.3009 30.4358V26.793H27.5298C26.5239 28.763 26 30.9372 26 33.1419C26 35.3467 26.5239 37.5209 27.5298 39.4909L32.3009 35.848Z" fill="#FBBC04"/>
    <path d="M40.3661 24.5977C42.415 24.5648 44.3947 25.3267 45.8775 26.7186L49.978 22.683C47.3778 20.2795 43.9332 18.9599 40.3661 19.0009C37.703 19.001 35.0924 19.7296 32.8257 21.1053C30.5589 22.4809 28.7253 24.4495 27.5295 26.7913L32.3006 30.4342C33.438 27.0839 36.6187 24.5977 40.3661 24.5977Z" fill="#EA4335"/>
    </svg>
mixin apple
    <svg width="140" height="70" viewBox="0 0 140 70" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="0.5" y="0.5" width="139" height="69" rx="4.5" fill="white" stroke="#F0F0F0"/>
    <path d="M41.9829 23.3834C41.0219 24.5319 39.4842 25.4377 37.9465 25.3083C37.7543 23.7555 38.5072 22.1056 39.3881 21.0866C40.3492 19.9058 42.031 19.0647 43.3925 19C43.5527 20.6175 42.928 22.2027 41.9829 23.3834ZM43.3765 25.6156C41.15 25.4862 39.244 26.8934 38.1868 26.8934C37.1136 26.8934 35.4959 25.6803 33.734 25.7127C31.4435 25.745 29.3131 27.0552 28.1439 29.1418C25.7412 33.3149 27.5192 39.4938 29.8417 42.8906C30.979 44.5728 32.3404 46.4167 34.1344 46.352C35.8322 46.2873 36.505 45.236 38.5552 45.236C40.6215 45.236 41.2141 46.352 43.0081 46.3197C44.8661 46.2873 46.0354 44.6375 47.1726 42.9553C48.47 41.0466 48.9986 39.1865 49.0306 39.0894C48.9986 39.0571 45.4427 37.6822 45.4107 33.5414C45.3786 30.0799 48.2137 28.4301 48.3419 28.333C46.7401 25.9391 44.2414 25.6803 43.3765 25.6156ZM56.2385 20.9248V46.1418H60.1147V37.5205H65.4806C70.3819 37.5205 73.8257 34.1237 73.8257 29.2065C73.8257 24.2892 70.446 20.9248 65.6087 20.9248H56.2385ZM60.1147 24.2245H64.5836C67.9472 24.2245 69.8693 26.0362 69.8693 29.2226C69.8693 32.4091 67.9473 34.2369 64.5676 34.2369H60.1147V24.2245ZM80.9054 46.3359C83.34 46.3359 85.5985 45.0904 86.6236 43.117H86.7037V46.1418H90.2916V33.5899C90.2916 29.9505 87.4085 27.6051 82.9716 27.6051C78.8551 27.6051 75.8118 29.9829 75.6997 33.2502H79.1915C79.4798 31.6974 80.9054 30.6784 82.8595 30.6784C85.2301 30.6784 86.5595 31.7945 86.5595 33.8487V35.2398L81.7223 35.5309C77.2214 35.8059 74.7867 37.666 74.7867 40.901C74.7867 44.1684 77.3014 46.3359 80.9054 46.3359ZM81.9465 43.3435C79.8803 43.3435 78.5668 42.3406 78.5668 40.804C78.5668 39.2188 79.8322 38.2969 82.2508 38.1513L86.5595 37.8763V39.2997C86.5595 41.6613 84.5734 43.3435 81.9465 43.3435ZM95.0808 53C98.8609 53 100.639 51.5442 102.193 47.1284L109 27.8478H105.06L100.495 42.745H100.415L95.8497 27.8478H91.7972L98.3644 46.2065L98.012 47.3226C97.4194 49.215 96.4583 49.9429 94.7445 49.9429C94.4401 49.9429 93.8475 49.9106 93.6072 49.8782V52.903C93.8315 52.9677 94.7925 53 95.0808 53Z" fill="#111115"/>
    </svg>

section.price
    .container
        .header-block
            .title-2
                h2 Стоимость обучения
            .bubble-block.tail-right.bubble-green
                p До 15 декабря<br class="visible-mobile"> действует скидка −30%
        .tariff-item.flex-block
            .price-card
                .header-group.flex-block
                    .title-3
                        h3 Взрослый разговор о&nbsp;половом воспитании
                    .badge.round-badge -30%
                .subheader-group
                    p.text-3 Для самостоятельного обучения
                    .img-block
                        img(src='img/emoji/sad.png',  width="24" alt="pic")
                .subheader
                    p.text-2 Включает:
                    .price-card--desk.text-3
                        p 32 видеоурока от 4 до 18 мин, продолжительностью 5 часов;
                        p Практические  задания для&nbsp;закрепления знаний;
                        p Список отобранной литературы со&nbsp;скидками в онлайн-библиотеках партнерах;
                        p Памятки о том, как действовать в&nbsp;разных ситуациях с ребёнком;
                        p Пожизненный доступ к&nbsp;материалам курса
                .footer-group.flex-block
                    .price-value
                        .green-text.text-80 4900 &#8381;
                        span.old-price 7000 &#8381;
                    a.button.big-button(href="https://vospitanie.znau.pro/basic_pay") Перейти&nbsp;к&nbsp;оплате
                .footer-subtitle
                    p.text-4 С 15 декабря 2020<br class="visible-mobile"> цена будет увеличена до 5 950 &#8381;
            .price-card__info.flex-block
                .block-column
                    .badge.badge--blue быстрый старт
                    p.text-3 #[span.text-3.bold Для тех, у кого все хорошо с&nbsp;самоорганизацией.] Кто хочет повысить уровень сексуальной грамотности,<br class="visible-laptop"> готов самостоятельно искать информацию и&nbsp;набивать «шишки» на практике
                    p.text-3 Начать обучение можно<br class="visible-mobile"> сразу после покупки
                .block-column
                    p.text-80.green-text 14
                    p.text-3 дней уйдет на самостоятельное<br> прохождение курса, если&nbsp;заниматься<br> всего по 3 часа в неделю
        //
        //.tariff-item.flex-block
        //    .price-card
        //        .header-group
        //            .title-3
        //                h3 Золотая середина
        //            .badge.round-badge -30%
        //        .subheader-group
        //            p.text-3 С проверкой домашних заданий куратором курса
        //        .subheader
        //            p.text-2 Включает:
        //            .price-card--desk.text-3
        //                p 32 видеоурока от 4 до 18 мин, продолжительностью 5 часов;
        //                p Практические  задания для закрепления знаний;
        //                p Список отобранной литературы со скидками в онлайн-библиотеках партнерах;
        //                p Памятки о том, как действовать в разных ситуациях с ребёнком;
        //                p Пожизненный доступ к видеоархиву
        //        .subheader-bg
        //            p.text-3.bold Дополнительно в пакет входят:
        //            .price-card--desk
        //                p.text-3 Куратор курса, который следит за вашим прогрессом обучения<br> и проверяет домашние задания;
        //                p.text-3 Доступ в закрытый Telegram-чат с куратором:
        //                .price-card--more
        //                    p.text-4 разбираем анонимные кейсы, анонсируем дополнительные бесплатные занятия,<br>даем обратную связь по домашним заданиям, разыгрываем индивидуальные<br> коуч-сессии и консультаций, и просто тёпло общаемся;
        //                p.text-3 Электронный сертификат об окончании обучения
        //        .footer-group.flex-block
        //            .price-value.green-text.text-80 7700 &#8381;
        //                span.old-price 11 000 &#8381;
        //            a.button.big-button(href="#") К оплате
        //        .footer-subtitle
        //            p.text-4 С 15 декабря 2020 цена будет увеличена до 9 350 &#8381;
        //    .price-card__info
        //        .block-column
        //            .badge.badge-dark С 5 января
        //            p.text-3 #[span.text-3.bold Для тех, кому важна групповая активность и обратная связь от кураторов курса.] Кто хочет заложить прочный фундамент будущего своих детей, который им позволит избежать многих ошибок в будущем
        //            p.text-3 Начать обучение можно сразу после покупки
        //            .color-block
        //                +badge('гарантия')
        //                p.text-3 #[span.text-3.bold Вернем все деньги, если курс не оправдает ожиданий]
        //                p.text-4 Если прошли не более 3-х уроков и не позднее, чем через 7 дней после старта занятий (до 12 января 2021 года).
        //                p.text-4 Гарантия распространяется на все пакеты
        //            .payment-block
        //                p.text-3 Курс можно оплатить картой или через сервисы
        //                .pay-logo
        //                    span
        //                        +apple
        //                    span
        //                        +google
        //.tariff-item.flex-block
        //    .price-card
        //        .header-group
        //            .title-3
        //                h3 Мудрый педагог
        //            .badge.round-badge -30%
        //        .subheader-group
        //            p.text-3 Полное погружение с проверкой домашних заданий
        //        .subheader
        //            p.text-2 Включает:
        //            .price-card--desk.text-3
        //                p 32 видеоурока от 4 до 18 мин, продолжительностью 5 часов;
        //                p Практические задания и ситуативные игры для закрепления знаний;
        //                p Список отобранной литературы со скидками в онлайн-библиотеках партнерах;
        //                p Памятки о том, как действовать в разных ситуациях с ребёнком;
        //                p Пожизненный доступ к видеоархиву
        //        .subheader-bg.subheader-bcg
        //            p.text-3.bold Дополнительно в пакет входят:
        //            .price-card--desk
        //                p.text-3 Куратор курса, который следит за вашим прогрессом обучения<br> и проверяет домашние задания;
        //                p.text-3 Доступ в закрытый Telegram-чат с куратором:
        //                .price-card--more
        //                    p.text-4 разбираем анонимные кейсы, анонсируем дополнительные бесплатные занятия,<br>даем обратную связь по домашним заданиям, разыгрываем индивидуальные<br> коуч-сессии и консультаций, и просто тёпло общаемся;
        //            .border-block
        //                p.text-3 Помощь в построении индивидуальной траектории обучения, исходя из ваших индивидуальных задач и потребностей;
        //                p.text-3 Личный дневник для ведения заметок об изменениях ребёнка, его поведении;
        //                p.text-3 Групповая закрытая Zoom-встреча для общения с куратором;
        //                p.text-3 Печатный сертификат, который бесплатно отправим курьером по Москве или почтой по России и странам СНГ (Украина, Беларусь и другие)
        //        .footer-group.flex-block
        //            .price-value.green-text.text-80 12 200 &#8381;
        //                span.old-price 17 500 &#8381;
        //            a.button.big-button(href="#") К оплате
        //        .footer-subtitle
        //            p.text-4 С 15 декабря 2020 цена будет увеличена до 14 875 &#8381;
        //    .price-card__info
        //        .badge.badge-dark С 5 января
        //        p.text-3 #[span.text-3.bold Для тех, кому важен персональный подход авторов курса и личная передача опыта.] Поможем выстроить индивидуальную траекторию обучения, опираясь на ваши личные задачи и потребности
        //        .color-block.color-block--rose
        //            .badge.badge--red Рассрочка
        //            p.text-3.bold Без процентов. На 3 или 6 месяцев
        //            p.text-4 Никаких переплат и скрытых условий. Рассрочка доступна для всех пакетов курса
        //            .img-block
        //                img(src='img/logos/tin.png', width="264" alt="pic")
        //        .link-block
        //            p.text-3.bold 10% вырученных средств идёт в благотворительный фонд «Простые вещи»
        //            p.text-4 Помогаем детям, которые стали жертвами насилия и проходящим реабилитацию в социально-реабилитационных центрах
        //            a.text-3(href="#") Подробнее о фонде
        //        .footer-block
        //            p.text-3 В группе «Мудрый педагог» сталось
        //            .badge.badge--green 37 из 40 свободных мест



