section.price
    .container
        .header-group
            .title-2
                h2 Стоимость обучения
            .bubble-block
        .tariff-item.flex-block
            .price-card
                .header-group.flex-block
                    .title-3
                        h3 Ответственный родитель
                    .badge.round-badge -30%
                .subheader-group
                    p.text-3 Без проверки домашних заданий
                    .img-block
                        img(src='img/emoji/sad.png',  width="24" alt="pic")
                .subheader
                    p.text-2 Включает:
                    .price-card--desk.text-3
                        p 32 видеоурока от 4 до 18 мин, продолжительностью 5 часов;
                        p Практические  задания для закрепления знаний;
                        p Список отобранной литературы со скидками в онлайн-библиотеках партнерах;
                        p Памятки о том, как действовать в разных ситуациях с ребёнком;
                        p Пожизненный доступ к материалам курса
                .footer-group.flex-block
                    .price-value.green-text  4900 &#8381;
                        span.old-price 7000 &#8381;
                    a.button.big-button(href="#") Перейти к оплате
                .footer-subtitle
                    p.text-4 С 15 декабря 2020 цена будет увеличена до 5 950 &#8381;
            .price-card__info
                +badge('быстрый старт')
        .tariff-item.flex-block
            .price-card
                .header-group
                    .title-3
                        h3 Золотая середина
                    .badge.round-badge -30%
                .subheader-group
                    p.text-3 С проверкой домашних заданий куратором курса
                .subheader
                    p.text-2 Включает:
                    .price-card--desk.text-3
                        p 32 видеоурока от 4 до 18 мин, продолжительностью 5 часов;
                        p Практические  задания для закрепления знаний;
                        p Список отобранной литературы со скидками в онлайн-библиотеках партнерах;
                        p Памятки о том, как действовать в разных ситуациях с ребёнком;
                        p Пожизненный доступ к видеоархиву
                .subheader-bg
                    p.text-3.bold Дополнительно в пакет входят:
                    .price-card--desk
                        p.text-3 Куратор курса, который следит за вашим прогрессом обучения<br> и проверяет домашние задания;
                        p.text-3 Доступ в закрытый Telegram-чат с куратором:
                        .price-card--more
                            p.text-4 разбираем анонимные кейсы, анонсируем дополнительные бесплатные занятия,<br>даем обратную связь по домашним заданиям, разыгрываем индивидуальные<br> коуч-сессии и консультаций, и просто тёпло общаемся;
                        p.text-3 Электронный сертификат об окончании обучения
                .footer-group.flex-block
                    .price-value.green-text  7700 &#8381;
                        span.old-price 11 000 &#8381;
                    a.button.big-button(href="#") К оплате
                .footer-subtitle
                    p.text-4 С 15 декабря 2020 цена будет увеличена до 9 350 &#8381;
            .price-card__info
                +badge('С 5 января')
        .tariff-item.flex-block
            .price-card
                .header-group
                    .title-3
                        h3 Мудрый педагог
                    .badge.round-badge -30%
                .subheader-group
                    p.text-3 Полное погружение с проверкой домашних заданий
                .subheader
                    p.text-2 Включает:
                    .price-card--desk.text-3
                        p 32 видеоурока от 4 до 18 мин, продолжительностью 5 часов;
                        p Практические задания и ситуативные игры для закрепления знаний;
                        p Список отобранной литературы со скидками в онлайн-библиотеках партнерах;
                        p Памятки о том, как действовать в разных ситуациях с ребёнком;
                        p Пожизненный доступ к видеоархиву
                .subheader-bg.subheader-bcg
                    p.text-3.bold Дополнительно в пакет входят:
                    .price-card--desk
                        p.text-3 Куратор курса, который следит за вашим прогрессом обучения<br> и проверяет домашние задания;
                        p.text-3 Доступ в закрытый Telegram-чат с куратором:
                        .price-card--more
                            p.text-4 разбираем анонимные кейсы, анонсируем дополнительные бесплатные занятия,<br>даем обратную связь по домашним заданиям, разыгрываем индивидуальные<br> коуч-сессии и консультаций, и просто тёпло общаемся;
                        p.text-3 Электронный сертификат об окончании обучения
                .footer-group.flex-block
                    .price-value.green-text  12 200 &#8381;
                        span.old-price 17 500 &#8381;
                    a.button.big-button(href="#") К оплате
                .footer-subtitle
                    p.text-4 С 15 декабря 2020 цена будет увеличена до 14 875 &#8381;
            .price-card__info
                +badge('С 5 января')


