section.programms-theme
	.container.container--p0
		.programms-theme__content
			.programms-theme__top
				.programms-theme__head
					.title-2
						h2 Программа курса
				.programms-theme__subhead
					.badge.badge-round Модуль 1
					h2 Половое созревание
				.programms-theme__text
					.programm-lesson
						h4 Урок 1. Почему родителям важно говорить с&nbsp;детьми о&nbsp;сексе
						.info-row
							.info-row__column.info-row__column--790
								p.text-2 Психолог-практик рассказывает, зачем родителям говорить с&nbsp;детьми о&nbsp;сексе, как&nbsp;такие доверительные беседы помогают детям быть в&nbsp;безопасности и&nbsp;оставаться здоровыми. Урок разрушает миф о&nbsp;том, что раннее половое воспитание провоцирует подростков на&nbsp;раннюю половую жизнь

							.info-row__column.info-row__column--350.info-row__column--abs
								.badge.badge--blue.badge-4 Совет №4
								h5 Разговоры о сексе помогают сохранить доверительные отношения с детьми
								p.text-4 Если ребёнок может обсуждать с&nbsp;родителями любую тему, то в трудной ситуации он&nbsp;обратится за помощью именно к ним
					.programm-lesson
						.info-row
							.info-row__column.info-row__column--790.info-row__column--bg
								h4 Урок 2. Как не смущаться, говоря о сексе
								p.text-2 Разбираем, как родителям психологически подготовиться к&nbsp;разговору о&nbsp;сексе с&nbsp;ребёнком: как не&nbsp;стесняться, не&nbsp;транслировать своё волнение на&nbsp;ребёнка, с&nbsp;кем можно посоветоваться и&nbsp;какие лайфхаки во&nbsp;время разговора можно использовать
					.programm-lesson
						h4 Урок 3. Что входит в&nbsp;половое воспитание (половая роль и&nbsp;её&nbsp;развитие, правила сексуального поведения)
						.info-row
							.info-row__column.info-row__column--790
								p.text-2 Разбираемся, почему половое воспитание — это не только про секс, но, в&nbsp;первую очередь, про доверительные отношения с&nbsp;ребёнком. Спикер подробно разбирает, что входит в&nbsp;понятие «половое воспитание» на&nbsp;разных этапах жизни ребёнка.

							.info-row__column.info-row__column--350
								p.text-3 Половое воспитание — это не только про секс. Это про доверительные отношения с ребёнком
					.programm-lesson
						h4 Урок 4. Развитие сексуальности до подросткового возраста
						.info-row
							.info-row__column.info-row__column--790
								p.text-2 Внутри урока информация о том, когда начинает формироваться сексуальность, когда ребёнок осознаёт свой пол, начинает играть социальные роли, когда родителям ожидать первые вопросы про секс и, главное, как вести себя на&nbsp;каждом этапе
			.programm-swipe
				.programm-swipe__content
					.programm-swipe__block.swipe-block--green
						.badge.badge--white #[span Распространенное] заблуждение
						.programm-block__text
							p  Часто люди думают, что половое воспитание нужно начинать в 14-15 лет, когда ребёнок готов начинать половую жизнь. Но основы полового воспитания лучше закладывать еще в&nbsp;дошкольном возрасте с&nbsp;первых разговоров про пол, тело, границы тела, безопасность
						.programm-block__bottom
							p Из конспекта урока №3
					.programm-swipe__block
						.badge.badge--blue Памятка №18
						.programm-block__text
							p  Предпубертат — начало полового созревания, 9&#8209;12 лет. В&nbsp;этом возрасте необходимо подготовить ребенка к изменениям, рассказать о&nbsp;физиологической перестройке организма: изменении роста, голоса, фигуры, о&nbsp;ночных поллюциях и&nbsp;невольных эрекциях, о&nbsp;менструациях
						.programm-block__bottom
							p Из конспекта урока №4
