section.programms-theme
	.container.container--p0
		.programms-theme__content
			.programms-theme__top
				.programms-theme__head
					.title-2
						h2 Программа курса
				.programms-theme__subhead
					.badge.badge-round Модуль 1
					h2 Половое созревание
				.programms-theme__text
					.programm-lesson
						h4 Урок 1. Почему родителям важно говорить с&nbsp;детьми о&nbsp;сексе
						.info-row
							.info-row__column.info-row__column--790
								p.text-2 Психолог-практик рассказывает, зачем родителям говорить с&nbsp;детьми о&nbsp;сексе, как&nbsp;такие доверительные беседы помогают детям быть в&nbsp;безопасности и&nbsp;оставаться здоровыми. Урок разрушает миф о&nbsp;том, что раннее половое воспитание провоцирует подростков на&nbsp;раннюю половую жизнь

							.info-row__column.info-row__column--350.info-row__column--abs
								.badge.badge--blue.badge-4 Совет №4
								h5 Разговоры о сексе помогают сохранить доверительные отношения с детьми
								p.text-4 Если&nbsp;ребёнок&nbsp;может&nbsp;обсуждать&nbsp;с&nbsp;родителями любую тему, то в трудной ситуации он&nbsp;обратится за&nbsp;помощью именно&nbsp;к&nbsp;ним
					.programm-lesson
						.info-row
							.info-row__column.info-row__column--790.info-row__column--bg
								h4 Урок 2. Как не смущаться, говоря о сексе
								p.text-2 Разбираем, как родителям психологически подготовиться к&nbsp;разговору о&nbsp;сексе с&nbsp;ребёнком: как не&nbsp;стесняться, не&nbsp;трансли&shy;ровать своё волнение на&nbsp;ребёнка, с&nbsp;кем можно посоветоваться и&nbsp;какие лайфхаки во&nbsp;время разговора можно использовать
					.programm-lesson
						h4 Урок 3. Что входит в&nbsp;половое воспитание (половая роль и&nbsp;её&nbsp;развитие, правила сексуального поведения)
						.info-row
							.info-row__column.info-row__column--790
								p.text-2 Разбираемся, почему половое воспитание — это не только про&nbsp;секс, но, в&nbsp;первую очередь, про&nbsp;доверительные отношения с&nbsp;ребёнком. Спикер подробно разбирает, что входит в&nbsp;понятие «половое воспитание» на&nbsp;разных этапах жизни ребёнка.

							.info-row__column.info-row__column--350
								p.text-3 Половое воспитание — это не только про секс. Это про доверительные отношения с ребёнком
					.programm-lesson
						h4 Урок 4. Развитие&nbsp;сексуальности до&nbsp;подросткового возраста
						.info-row
							.info-row__column.info-row__column--790
								p.text-2 Внутри урока информация о том, когда начинает формироваться сексуальность, когда ребёнок осознаёт свой пол, начинает играть социальные роли, когда&nbsp;родителям ожидать первые вопросы про&nbsp;секс и, главное, как&nbsp;вести себя на&nbsp;каждом этапе
			.programm-swipe
				.programm-swipe__content
					.programm-swipe__block.swipe-block--green
						.badge.badge--white #[span Распространенное] заблуждение
						.programm-block__text
							p  Часто люди думают, что&nbsp;половое воспитание нужно начинать в 14-15 лет, когда ребёнок готов начинать половую жизнь. Но основы полового воспитания лучше закладывать еще в&nbsp;дошкольном возрасте с&nbsp;первых разговоров про пол, тело, границы тела, безопасность
						.programm-block__bottom
							p
								span Из конспекта урока №3 
								span M1
					.programm-swipe__block
						.badge.badge--blue Памятка №18
						.programm-block__text
							p  Предпубертат — начало полового созревания, 9&#8209;12 лет. В&nbsp;этом возрасте необходимо подготовить ребенка к изменениям, рассказать о&nbsp;физиологической перестройке организма: изменении роста, голоса, фигуры, о&nbsp;ночных поллюциях и&nbsp;невольных эрекциях, о&nbsp;менструациях
						.programm-block__bottom
							p Из конспекта урока №4
			.programms-theme__bottom
				.programm-lesson.programm-lesson--5
					h4 Урок 5. Стадии подростко&shy;вой сексуальности: платоническое, эротическое и сексуальное либидо
					.info-row
						.info-row__column.info-row__column--790
							p.text-2 Это важный урок про сложный подростковый период и те изменения в теле и психике, которые переживает подросток. Психолог объясняет, почему ребёнок в возрасте около 12 лет старается отделиться от родителей, почему сначала дети «создают кумиров» и влюбляются в недостижимый идеал, а только после этого следует настоящая влюблённость, и как родители могут помочь (или хотя бы не&nbsp;мешать!) детям переживать все этапы развития подростковой сексуальности 

						.info-row__column.info-row__column--350
							.badge.badge--blue.badge-4 7 — 12 лет
							h5 Происходит много физиологических изменений в теле ребёнка, которые&nbsp;влияют на физическое и&nbsp;эмоциональное состояние
							p.text-4 Дети задаются вопросами жизни и смерти. В этот период важно поддерживать в&nbsp;ребёнке интерес к жизни
				.programm-lesson.programm-lesson--gradient
					h4 Урок 6. Как реагировать на&nbsp;изучение тела в&nbsp;раннем возрасте (дошкольники)
					.info-row
						.info-row__column.info-row__column--790
							p.text-2 Разбираем, какие бывают этапы детской мастурбации и как на них реагировать: в&nbsp;каких случаях мастурбация — естественный процесс изучения тела, а в&nbsp;каких — признак хронического стресса и тревожности
				
				.programms-theme__footer
					.programms-theme__btn.info-row__column--790
						a(href="doc/program.pdf" target="_blank").button.big-button#showProgramm Посмотреть программу #[span курса]
							
					.programms-theme__label.info-row__column--350
						.programms-theme__label-box
							p.text-100 32
								span.round-badge +1
							p.text-3 видеоурока от 4 до 18 минут каждый, а&nbsp;также бонусный урок о&nbsp;личных границах
section.warning.programm-warning
	.container
		.warning-text
			p.decor-text #[span.red-text Курс #[span.bg-word #[span не]] содержит:] травмирующий психику контент, пропаганду разврата детей, демонстрацию порно, навязывание семейных ценностей и&nbsp;религиозных установок
			p.text-2 А также сложных психологических теорий и&nbsp;труднопроизносимых научных терминов