section.result
	.result-img
		+mark
	.container
		.title-2
			h2 После<br class="visible-mobile"> вебинара вы:
		.result-list
			ul
				li.green-text.decor-text Поймете<br class="visible-mobile"> почему половое воспитание важно, как для ваших детей,<br class="visible-laptop"> так и для вас лично;
				li.decor-text Узнаете, как<br class="visible-mobile"> и когда правильно начинать половое<br class="visible-mobile"> воспитание ребёнка; 
				li.decor-text.decor-label
					+badge('игра-проверка')
					p Поймете, готовы<br class="visible-mobile"> ли вы на разговор с&nbsp;вашими&nbsp;детьми «про это»<br class="visible-mobile"> прямо сейчас;
				li.decor-text Получите рекомендации<br class="visible-laptop"> от&nbsp;опытного психолога<br class="visible-mobile"> по  правильному подходу к&nbsp;общению <br class="visible-mobile"> «про это»
			p.text-2 Это бесплатно. Главное — успеть задать все интересующие вас вопросы в&nbsp;чат