//=====REVIEWS =====
section.review
	.review__img.d-block.d-md-none
		img(src="img/emoji/cat.png", width="300" alt="emoji")
	.container
		.review-head
			.review-head__img.d-none.d-md-block
				img(src="img/emoji/cat.png", width="300" alt="emoji")
			.title-2
				h2 Отзывы<br class='visible-mobile'> родителей
			p.text-2 С бесплатного мини-курс и&nbsp;полноценной учебной программы&nbsp;о&nbsp;половом&nbsp;воспитании
		.review-content#review-content
			.review-wrapper
				.row
					.col-md-4.col-xl-4
						.review-item.review-item--video
							.video-wrapper
								.btn-play
									img(src="img/icons/play.png", width="45" alt="play")
								video(src="video/video.mp4" type="video/mp4"  poster="img/feedbacks/video1.jpg"  alt='video')
									source(src="video/video.mp4" type="video/mp4")
									source(src="video.webm" type="video/webm")
									source(src="video.ogv" type="video/ogg")
						.review-item
							img(src="img/feedbacks/4.jpg", width="396" alt="img")
						.review-item
							img(src="img/feedbacks/11.jpg", width="396" alt="img")
						.review-item
							img(src="img/feedbacks/22.jpg", width="396" alt="img")
						.review-item
							img(src="img/feedbacks/55.jpg", width="396" alt="img")
						
					.col-md-4.col-xl-4
						.review-item
							img(src="img/feedbacks/1.jpg", width="396" alt="img")
						.review-item
							img(src="img/feedbacks/3.jpg", width="396" alt="img")
						.review-item
							img(src="img/feedbacks/5.jpg", width="396" alt="img")
						.review-item
							img(src="img/feedbacks/44.jpg", width="396" alt="img")
						.review-item.review-item--video
							.video-wrapper
								.btn-play
									img(src="img/icons/play.png", width="45" alt="play")
								video(src="video/video.mp4" type="video/mp4"  poster="img/feedbacks/video2.jpg" width="396" height="700" alt='video')
									source(src="video/video.mp4" type="video/mp4")
									source(src="video.webm" type="video/webm")
									source(src="video.ogv" type="video/ogg")
						.review-item
							img(src="img/feedbacks/3.jpg", width="396" alt="img")
					.col-md-4.col-xl-4
						.review-item
							img(src="img/feedbacks/2.jpg", width="396" alt="img")
						.review-item.review-item--video
							.video-wrapper
								.btn-play
									img(src="img/icons/play.png", width="45" alt="play")
								video(src="video/video.mp4" type="video/mp4"  poster="img/feedbacks/video2.jpg" width="396" height="700" alt='video')
									source(src="video/video.mp4" type="video/mp4")
									source(src="video.webm" type="video/webm")
									source(src="video.ogv" type="video/ogg")
						.review-item
							img(src="img/feedbacks/77.jpg", width="396" alt="img")
						.review-item
							img(src="img/feedbacks/88.jpg", width="396" alt="img")
						.review-item
							img(src="img/feedbacks/99.jpg", width="396" alt="img")
						.review-item
							img(src="img/feedbacks/33.jpg", width="396" alt="img")
						.review-item
							img(src="img/feedbacks/66.jpg", width="396" alt="img")
					
		.review-content_btn.center-button
			button.medium-button#showReview Показать все отзывы
					