section.webinar-theme
	.container.container--p0
		.webinar-theme__content
			.webinar-theme__head
				.title-2
					h2 Спикер расскажет
				.preview-content__data
					p
						span.visible-laptop 10 ноября 2020
						span.hide-laptop 10.11.2020
					p 19:30 &mdash; 21:00 мск
			.webinar-theme__text
				.info-row
					.info-row__column.info-row__column--bg
						.title-3
							h3 Как правильно подходить к&nbsp;общению «про это»
						p.text-2 И почему в&nbsp;каждой семье важно обеспечивать здоровую атмосферу взаимного уважения и&nbsp;любви, а&nbsp;ребенку — знать о&nbsp;границах личного пространства и&nbsp;существова&shy;нии интимных зон
					.info-row__column.info-row__column--p0
						.title-3
							h3 Что такое «половое воспитание»<br class="visible-laptop"> и на что оно влияет
						p.text-2 Как и почему «половое воспитание» формирует правильное отношения ребенка к&nbsp;вопросу пола: из&nbsp;мальчика воспитывает мужчину, а&nbsp;девочке помогает вырасти в&nbsp;счастливую и&nbsp;успешную женщину
				.info-row
					.info-row__column.info-row__column--border.info-row__column--300
						p.text-100 93 #[sup %]
						p.text-bold женщин в России уверены,<br> что половое воспитание<br class="visible-mobile"> помогает детям принимать<br class="visible-mobile"> своё тело и не стесняться его
					.info-row__column.info-row__column--bg.info-row__column--70
						.title-3
							h3 Почему уже сейчас важно <br class="visible-laptop"> начать говорить с&nbsp;детьми «про это»
						p.text-2 И почему в странах, где детям в школах преподают половое воспитания, процент ранних беременностей гараздо ниже, чем в России. Как и средний возраст вступления в первые сексуальные отношения, который там на полтора–два года ниже, чем у нас
			.webinar-theme__footer
				+badge('Игра-проверка')
				.info-row
					.info-row__column.info-row__column--70.info-row__column-emoji
						.emoji-row
							.emoji-row__item
								img(src="img/emoji/5.png", width="200" alt="emoji")
							.emoji-row__item
								img(src="img/emoji/4.png", width="200" alt="emoji")
							.emoji-row__item
								img(src="img/emoji/2.png", width="200"  alt="emoji")
							.emoji-row__item
								img(src="img/emoji/glasses.png", width="200" alt="emoji")
						.emoji-row__text
							.title-3
								h3 Насколько вы готовы для разговора<br class="visible-laptop"> со своими детьми «про это» 
							p.text-2 В ходе вебинара спикер проведет игру, после которой вы поймете уровень своей готовности к разговору «про&nbsp;это». Также получите рекомендации как по обще&shy;нию с детьми, так и по поло&shy;вому воспитанию
					.info-row__column.info-row__column--300.info-row__column--flex
						.info-row__logo
							img(src="img/logos/logoImg.png", width="240" alt="logo")
						.textbox
							p.text-2 Образовательный проект, который помогает улучшать качество жизни человека здесь и сейчас
							a(href="#!").text-2 Подробнее о проекте