section.speaker
	.container
		.speaker-data
			//- .badge.badge--red Спикер вебинара
			.speaker-data__img
				a(href="#!").speaker-inst
					img(src="img/icons/inst.png", width="160" alt="inst")
				img(src="img/images/speaker.jpg", width="620" alt="speaker")
			.speaker-data__column
				.speaker-data__title
					.badge.badge--red Спикер вебинара
					.title-2
						h2 Инна Сорока
					p клинический психолог, психоаналитик, специалист в&nbsp;сфере сексологического консультирования
				.speaker-data__row
					.speaker-data__row-item
						.speaker-data__logo
							img(src="img/logos/1.jpg", width="100" alt="logo")
						.speaker-data__paragrafe
							p.text-3 Учредитель и ведущий преподаватель Международной академии сексологии, член Ассоциации сексологов
					.speaker-data__row-item
						.speaker-data__logo
							img(src="img/logos/2.jpg", width="100" alt="logo")
						.speaker-data__paragrafe
							p.text-3 Эксперт портала «Lady.mail» и&nbsp;проекта «7 жизней». Aвтор&nbsp;публикаций в журналах «Intimnoe Здоровье» и «Sexology»
				.speaker-data__text
					p.text-3 Автор программы дополнительного профессионального образования «Психолого-педагогические аспекты детской сексуальности»