.title-1 
	h1 Heading-1
.title-2 
	h2 Heading-2

.decor-text Декор / Цитата
.text-1 Основной текст 1
.text-2 Основной текст 2
.text-3 Основной текст 3
.text-4 Основной текст 3
+question('Мам, а как я появился на свет? ')
+badge('Бесплатный вебинар')