section.warning
	.container
		.warning-text
			p.decor-text #[span.red-text Когда вы избегаете ответа,] ребёнок может подумать, что тема запретная и с вами о ней гово&shy;рить не стоит. Ведь всегда найдётся<br class='visible-laptop'> кто-нибудь другой, кто объяснит
			p.text-2 Поэтому остерегайтесь отвечать: «Тебе еще рано об этом думать». Если ребёнок задал вопрос, он готов услышать ответ 