section.warning.warning--3
    .container
        .warning-text
            p.decor-text #[span.green-text Примерно между двумя и тремя годами] ребёнок начинает осозна&shy;вать свою половую принадлежность, и&nbsp;у него просыпа&shy;ется интерес к собственному телу
        .warning-text--flex
            p.text-2 Поэтому вебинар будет полезен и для родителей детей дошкольного возраста
            +badge('2 &mdash; 7 лет')