section.warning.warning--header.mt-140
	.container
		.warning-text
			p.decor-text #[span.red-text Научим правильно говорить с детьми <br class="visible-desk"> о&nbsp;сексе, любви и&nbsp;отношениях,] чтобы не&nbsp;поселить страхи, не&nbsp;пробудить излишний интерес и не переступить границу
			p.text-2 Своевременное половое воспитание — это ключ к&nbsp;благополучию ребёнка,<br> гарантия его счастья и&nbsp;готовность к&nbsp;взрослой жизни