section.warning.warning--conclusions
    .container
        .badge.badge--border после курса
        .warning-text
            p.decor-text #[span.red-text Вы расширите знания] о том, как&nbsp;гармонично выстраивать половое воспита&shy;ние на каждом этапе взросления, чтобы беседы не&nbsp;стали шоком для&nbsp;ребенка и&nbsp;стрессом для вас
        p.text-2.pt-30 Благодаря вам подростки смогут&nbsp;сформировать здоровое<br> сексуальное поведение и не будут иметь комплексов на этой почве
