section.warning.warning--2
	.container
		.warning-text
			p.decor-text #[span.red-text Если вы не увере&shy;ны,] что в состоянии сохранить тайну о взаимоотно&shy;шениях полов до 16-летия своего ребенка, постарайтесь, чтобы он узнал о&nbsp;них до восьми
			p.text-2 #[strong Жан-Жак Руссо.]<br class='visible-mobile'> Философ, писатель и мыслитель эпохи Просвещения