.header-video{
	margin-top: 120px;
	padding-top: 120px;
	@media(max-width:767px){
		margin-top: 130px;
		padding-top: 130px;
	}
	.container{
		@media(max-width:579px){
		  padding-left: 10px;
		  padding-right: 10px;
		  
		}
	}
}
.header-video__wrapper{
	position: relative;
	max-width:1290px;
	margin-left: auto;
	margin-right: auto;
	max-height:700px;
	video{
		border-radius: 20px;
		width: 100%!important;
		max-width:1290px;
		object-fit: cover;
		max-height:700px;
		@media(max-width:767px){
			border-radius: 10px;
		}

	}
}
.video-wrapper{
	.btn-play.btn-play2{
		width: 300px;
		height: 300px;
		line-height: 300px;
		text-align: center;
		background-color: @orange;
		border-radius: 50%;
		position: absolute;
		bottom: -60px;
		left: auto;
		right: 50px;
		cursor:pointer;
		box-shadow: 0px 16px 40px rgba(161, 87, 64, 0.3);

		z-index: 2;
		img{
			width: 108px;
			position: relative;
			left: 10px;
		}
		@media(max-width:1364px){
			width: 220px;
			height: 220px;
			line-height:160px;
			right: 30px;
			bottom: -65px;
			img{
				transform: scale(.617);
				left:5px;
			}
		}
		@media(max-width:991px){
			width: 120px;
			height: 120px;
			line-height:120px;
			right: 10px;
			bottom: -65px;
			img{
				transform: scale(.417);
				left:5px;
			}
		}
	}
}
.video-clip__info{
	display: flex;
	align-items: center;
	margin-top: 20px;
	@media(max-width:767px){
		margin-top: 10px;
	}
	p{
		font-size: 20px;
	}
	
	p:first-child{
		height: 36px;
		line-height: 36px;
		padding-left: 17px;
		padding-right: 17px;
		background-color: #363E4D;
		border-radius: 18px;
		color: #fff;
		font-size: 20px;
		margin-right: 14px;
	}
	span.span-desk{
		display: inline;
		@media(max-width:991px){
			display: none;
		}
	}
}
.header-video__wrapper .bubble-block{
	position: absolute;
	top: 0;
	left: 50px;
	transform: translateY(-61%);
	@media(max-width:1199px){
		top:-20px;
		transform: translateY(-100%);
		left: 0;
		&:before{
			left: 50%;
			transform: translateX(-50%);
			bottom:-20px;
		}
	}
	@media(max-width:767px){
		
		top:-14px;
		&:before{
			left: 48%;
		}
	}
}