.header-banner {
  margin-top: 64px;
  .container{
    @media(max-width:579px){
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .header-bubble{
    padding: 50px;
    padding-top: 40px;
    padding-bottom: 100px;
    @media (max-width: 1199px) {
    margin-top: 34px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 70px;
  }
  @media (max-width: 991px) {
      &:after{
      left: 20%;
    }
  }
  @media (max-width: 767px) {
    margin-top: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 70px;
  
  }
  }
  


  @media (max-width: 767px) {
    .event-date {
      margin-top: 24px;
    }
  }

    .subtitle-text {
      margin-bottom: 60px;

      @media(max-width:991px){
        margin-bottom: 30px;
      }

      p.text-2 {
        font-size: 20px;
      }
    }

    
    .subtitle-img {
      width: 400px;
      position: absolute;
      top: 55px;
      right: 0;
      filter: drop-shadow(0px 10px 40px rgba(37, 42, 52, 0.25));

      @media(min-width: 992px) and (max-width: 1364px){
        width: 290px;
        top: 150px;
      }


      @media (max-width: 991px) {
        width: 295px;
        top: inherit;
        left: 22px;
        bottom: 0;
      }

      @media(min-width: 426px) and (max-width: 768px){
          bottom: -26px;
          left: inherit;
      }

      @media(max-width: 374px){
        left: -8px;
      }
    }

    .subtitle-img .img-desk {
      display: block;

      @media (max-width: 991px) {
        display: none;
      }
    }

    .subtitle-img .img-mob {
      display: none;
      @media (max-width: 991px) {
        //position: relative;
        //width: 319px;
        display: block;
        //left: -20px;
      }
    }
  }



.preview-content {
  background: @pr;
  border-radius: 5px 5px 5px 100px;
  padding: 50px;
  padding-top: 40px;
  position: relative;

  @media (max-width: 767px) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 100px;
    border-radius: 5px;

  }
}

.header-title__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  @media (max-width: 991px) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
    
  }
 
  .round-badge{
      background-color: #495266;
      color: #fff;
      font-size: 20px;
      margin-left: 14px;
    }
 
}

.event-date {
 
  p {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.05em;
    font-weight: 700;
    white-space: nowrap;
    position: relative;
    padding-left: 34px;
    @media(max-width:991px){
      margin-top: 24px;
    }
    @media (max-width: 374px) {
      font-size: 14px;
    }
    .span-desk{
      display: inline;
      @media(max-width:767px){
        display: none;
      }
    }
  }

  p:before {
    content: '';
    width: 20px;
    height: 21px;
    background-image: url(../img/icons/calendar.png);
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    left: -7px;
    top: -2px;
    @media (max-width: 1364px) {
      left: 0;
      
    }

  }

}

.header-title__text {
  h1, .text-1 {
    color: #fff;

  }

  .title-1 {
    margin-bottom: 50px;
    @media (max-width: 767px) {
      margin-bottom: 33px;
    }
  }

  .header-title__subtitle {
    @media (max-width: 1199px) {
      max-width: 535px;
    }
    @media (max-width: 767px) {
      max-width: 320px;
    }
  }
}

.light-link{
  
font-size: 24px;
padding-left: 10px;
padding-right: 10px;
font-family: @rr;
color: #2F80ED;
display: flex;
align-items: center;
span + span{
  margin-left: 14px;
}
span:last-child{
  padding-bottom: 5px;
  white-space: nowrap;
  border-bottom: 1px dashed  rgba(47, 128, 237, .2);
}
}
.header-banner__footer{
  position: relative;
  margin-top: 80px;
  display: flex;
  align-items: center;
  @media(max-width:991px){
    flex-direction: column;
    justify-content: center;
  }
  .light-link{
    margin-left: 48px;
    @media(max-width:991px){
      margin-top: 30px;
      margin-left: 0;
      text-align: center;
    }
  }
  .button.big-button{
    @media(max-width:767px){
      width: 100%;
      max-width: 335px;
      text-align: center;
    }
  }
}
.header-banner__emoji {
  position: absolute;
  width: 300px;
  right: 0px;
  bottom: 0;
  z-index: 2;
  @media (max-width: 1364px) {
    width: 240px;
    right: 20px;
    bottom:32px;
  }
  @media (max-width: 1199px) {
    bottom:32px;
   
    
  }
  @media (max-width: 991px) {
    bottom:160px;
    width: 140px;
    
  }
}