.price {
  margin-top: 240px;
  @media (max-width: 767px) {
    margin-top: 140px;
  }

  p.text-4 {
    line-height: 1.37;
  }

  .header-block {
    position: relative;

    .bubble-block {
      position: absolute;
      right: 0;
      top: -85px;
      color: @green;
    }
  }

  .title-2 h2 {
    margin-bottom: 80px;
    padding-bottom: 26px;
    border-bottom: 1px solid rgba(73, 82, 102, 0.5);
  }

  .tariff-item + .tariff-item {
    margin-top: 100px;
  }

  .price-card {
    background-color: @pr;
    border-radius: 10px;
    color: #FFFFFF;
    width: 69%;
    max-width: 840px;
    padding-top: 26px;
    padding-right: 40px;
    padding-bottom: 62px;
    padding-left: 30px;

    .title-3 h3 {
      color: #FFFFFF;
    }
  }

  .price-card__info {
    .badge {
      border-radius: 3px;
    }

    p.text-3 {
      margin-top: 14px;
    }
  }

  .price-card__info.flex-block {
    flex-direction: column;
    align-items: unset;
  }

  .block-column {
    margin-top: 26px;

    .text-80 {
      margin-left: -10px;
    }
  }

  .block-column + .block-column {
    margin-bottom: 64px;
  }

  .price-card__info {
    width: 31%;
    max-width: 400px;
  }

  .color-block {
    margin-top: 60px;
    margin-bottom: 155px;
    border-radius: 5px 50px 5px 5px;
    background-color: #E1ECE6;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;


    p.text-4 {
      margin-top: 10px;
    }
  }

  .color-block.color-block--rose {
    background-color: @rose;
    margin-bottom: 60px;

    .img-block {
      max-width: 264px;
      margin-top: 20px;
    }
  }

  .link-block {
    margin-bottom: 151px;

    a {
      color: @blue;
      border-bottom: 1px solid rgba(47, 128, 237, 0.2);
      margin-bottom: 156px;
    }

    p.text-4 {
      margin-top: 10px;
      margin-bottom: 14px;
    }
  }

  .footer-block {
    .badge {
      border-radius: 18px;
      margin-top: 10px;
    }
  }

  .payment-block {
    .pay-logo {
      margin-top: 20px;

      span + span {
        margin-left: 20px;
      }
    }
  }


  .header-group {
    display: flex;
    margin-bottom: 14px;

    .badge.round-badge {
      margin-left: 20px;
    }
  }

  .subheader-group {
    display: flex;
    margin-bottom: 40px;

    .img-block {
      margin-left: 10px;
    }
  }

  .subheader {
    //margin-bottom: 46px;

    p.text-2 {
      font-weight: 700;
      margin-bottom: 14px;
    }
  }

  .subheader-bg {
    background-color: #363E4D;
    margin-top: 40px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 38px;
    padding-left: 30px;
    border-radius: 5px 5px 50px 5px;

    .price-card--more {
      p.text-4 {
        padding-left: 30px;
        margin-top: 4px;
        margin-bottom: 16px;
      }
    }
  }

  .border-block {
    border-left: 3px solid #EE7550;
    padding-left: 24px;
  }

  .subheader-bcg {
    border-radius: 5px;
  }

  .price-card--desk {
    padding-left: 30px;
    //margin-top: 14px;
    p + p {
      margin-top: 12px;
    }
  }

  .price-value {
    position: relative;
    bottom: 18px;

    .old-price {
      position: absolute;
      transform: translateX(100%);
      top: 8px;
      right: -14px;
      color: rgba(255, 255, 255, 0.5);
      font-size: 20px;
      text-decoration: line-through;
    }
  }

  .footer-group {
    margin-top: 50px;

    .big-button {
      padding-left: 50px;
      padding-right: 50px;
      height: 100px;
      line-height: 100px;
      font-size: 24px;
      border-radius: 5px;
    }
  }

  .footer-subtitle {
    margin-top: -13px;

    p.text-4 {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .tariff-item.flex-block {
    align-items: unset;
  }

}