.review {
  margin-top: 287px;
  @media (max-width: 991px) {
    margin-top: 137px;
  }
  //@media (max-width: 767px) {
  //  margin-top: 90px;
  //}
}

.review-head {
  position: relative;
  // overflow: hidden;
  padding-bottom: 78px;

  .title-2 {
    margin-bottom: 20px;
    position: relative;
    width: fit-content;

    span {
      position: absolute;
      right: -64px;
      top: 4px;
      font-size: 20px;
      display: inline-block;
      height: 36px;
      padding-left: 14px;
      padding-right: 14px;
      line-height: 36px;
      background-color: @blue;
    }

    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  .text-2 {
    @media (max-width: 1364px) {
      max-width: 500px;
    }

    @media (max-width: 374px) {
      font-size: 17px;
    }
  }


}

.review-head__img {
  position: absolute;
  right: 57px;
  top: 29px;
  @media (max-width: 1364px) {
    width: 160px;
    top: 55px;
  }
}

.review-item {
  border-radius: 5px;
  margin-bottom: 50px;
  max-width: 396px;

  @media (max-width: 767px) {
    width: 335px;
    margin-left: auto;
    margin-right: auto;
  }
}

.review-item--video {
  box-shadow: none;
}

.review-content {
  height: 980px;
  overflow: hidden;

  .tr;
  @media (max-width: 1364px) {
    height: 896px;
  }
  @media (max-width: 1199px) {
    height: 727px;
  }
  @media (max-width: 991px) {
    height: 560px;
  }
  @media (max-width: 767px) {
    height: 1327px;
  }
}

.review-content.hide {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    background: rgba(247, 247, 245, 1.0);

    background: linear-gradient(to top, rgba(247, 247, 245, 1.0) 15%, rgba(247, 247, 245, 0.0) 100%);

    height: 200px;
    z-index: 10;
  }
}

.review {
  position: relative;
  @media (max-width: 767px) {
    overflow: hidden;
  }

  .review__img {
    position: absolute;
    right: -45px;
    top: 175px;
    z-index: 5;

    @media (max-width: 767px) {
      width: 160px;
      top: 222px;
      right: -40px;
    }
  }

}

.review-content_btn {
  margin-top: 75px;
  @media (max-width: 767px) {
    margin-top: 60px;
  }

  button.hide {
    display: none;
  }

  .medium-button {
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 24px;
    white-space: nowrap;
  }
}

.video-wrapper {
  position: relative;

  video {
    width: 396px;
    height: 700px;
    @media (max-width: 1364px) {
      width: 360px;
      height: 636px;

    }
    @media (max-width: 1199px) {
      width: 290px;
      height: 512px;

    }
    @media (max-width: 991px) {
      width: 216px;
      height: 382px;

    }
    @media (max-width: 767px) {
      width: 335px;
      height: 630px;
    }
  }
}

.btn-play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background-color: rgba(237, 128, 95, .9);
  box-shadow: 0px 10px 20px rgba(37, 42, 52, 0.15);
  position: absolute;
  left: 20px;
  bottom: 30px;
  z-index: 5;
  border-radius: 50%;

  img {
    position: relative;
    right: -5px;
  }

  @media (min-width: 768px) and(max-width: 1199px) {
    width: 100px;
    height: 100px;
    bottom: 20px;
    img {
      width: 35px;
    }
  }
}