extends ../layouts/layout.pug

block content
    //- include ../sections/_header
    //- include ../sections/_preview-block
    //- include ../sections/_warning-1
    //- include ../sections/_header-video
    //- include ../sections/_faq
    //- include ../sections/_programms
    //- include ../sections/_conclusion
    //- include ../sections/_warning-conclusion
    include ../sections/_experts
    //- include ../sections/_price



    //- include ../sections/_warning-3
    //- include ../sections/_speaker-theme
    //- include ../sections/_result
    //- include ../sections/_spicker-info
    //- include ../sections/_review
    //- include ../sections/_contact-form
    //- include ../sections/_warning-2
    //- include ../sections/_footer
    //- include ../sections/_modal





block variables
    -var title = "SOL";